#image-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  text-align:center;
  cursor: pointer;
}
  
#image-container img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
  